* {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: auto;
}

#navbar, 
#section1,
#footer {
    background-color: #1F2937;
}




/* start navbar */

.navbar-container {
    padding: 25px 0;
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.right-links {
    margin-left: auto;
    font-size: 18px;
    color: #e5e7eb;
}
/* end navbar */




/*start home */

.home-container {
    display: flex;
    padding: 100px 0;
    gap: 50px;
}

.home-content {
    flex: 1;
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: start;
    color: #f9faf8;
}

.home-content > p {
    color: ;
}

.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    flex: 1;
    background-color: #3882f6;
}

button {
    padding: 10px 25px;
    font-size: 12px;
    color: #3882f6;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

#section3 {
    background-color: #e5e7eb;
}

.qoute {
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.qoute-author {
    font-size: 24px;
    font-style: 900;
    color: #1f2937;
}
